{% extends 'baseIndex.html' %}
{% load static %}
{{% block contenido %}

        <div class="espaciador"></div>

        <section class="container-fluid align-items-center">

            <div class="row justify-content-center">
                <p class="text-white fw-bold fs-1 text-center">¡Banderines!</p>
                <br>
                <div class="col-md-5">
                    <img src="{% static 'img/productos/banderines1.jpg' %}" alt="muchos banderines" class="img-fluid rounded"
                        style="margin-bottom: 20px">
                </div>
                <div class="text-white" style="background-color: rgba(0, 0, 0, 0.4); padding: 15px">
                    <p class="text-white fw-bold text-center">Banderines para adornar cualquier espacio de tu hogar</p>
                    <p class="text-center">¿Quieres adornar tuLorem ipsum, dolor sit amet consectetur adipisicing elit. Autem vitae nobis
                        possimus, sequi unde assumenda, explicabo molestiae magnam provident iste laudantium, quia cum
                        quo
                        obcaecati rerum tenetur beatae debitis <perferendis class=":w"></perferendis>
                    </p>
                </div>

                <div class="row justify-content-center" style="margin: 15px">
                {% for b in productos %}
                    <div class="col-md-3">
                    {% if b.categoria.id == 1 %}
                        {% if b.imagen %}
                        <a data-fslightbox="banderines" href="{{ b.imagen.url }}">
                        <img src="{{ b.imagen.url }}" alt="banderines oscuros" class="img-fluid rounded"
                            id="banderin1"></a>
                        {% endif %}
                        <h3 class="fw-bold ">{{ b.nombre | capfirst }}</h3>
                        <h4>Largo: {{b.dimensiones}}</h4>
                    {% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>

        </section>

        <div class="espaciador"></div>

{% endblock contenido %}}
