{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div class="espaciador"></div>

<div class="row justify-content-center">
    <h1>Nuestros productos</h1>
</div>

<section class="container-fluid align-items-center">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <a href="#" data-featherlight="#galeria1">
                <img class="img-fluid" src="{% static 'img/productos/scrunchie1.png' %}" alt="">
            </a>
            <div style="display: none;">
                <div id="galeria1">
                    <img class="img-fluid" src="{% static 'img/productos/scrunchie1.png' %}" alt="">
                    <p style="text-align: center;">Hermosos scrunchies para adornar tu salvaje cabellera, creados con telas recicladas. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim earum quis
                        distinctio, aliquid expedita perferendis!</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" data-featherlight="#galeria2">
                <img class="img-fluid" src="{% static 'img/productos/scrunchie2.jpg' %}" alt="">
            </a>
            <div style="display: none;">
                <div id="galeria2">
                    <img class="img-fluid" src="{% static 'img/productos/scrunchie2.jpg' %}" alt="">
                    <p style="text-align: center;">Hermosos scrunchies para adornar tu salvaje cabellera, creados con telas recicladas. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim earum quis
                        distinctio, aliquid expedita perferendis!</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" data-featherlight="#galeria1">
                <img class="img-fluid" src="{% static 'img/productos/scrunchie3.jpg' %}" alt="">
            </a>
            <div style="display: none;">
                <div id="galeria3">
                    <img class="img-fluid" src="{% static 'img/productos/scrunchie3.jpg' %}" alt="">
                    <p style="text-align: center;">Hermosos scrunchies para adornar tu salvaje cabellera, creados con telas recicladas. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim earum quis
                        distinctio, aliquid expedita perferendis!</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" data-featherlight="#galeria1">
                <img class="img-fluid" src="{% static 'img/productos/scrunchie4.jpg' %}" alt="">
            </a>
            <div style="display: none;">
                <div id="galeria1">
                    <img class="img-fluid" src="{% static 'img/productos/scrunchie4.jpg' %}" alt="">
                    <p style="text-align: center;">Hermosos scrunchies para adornar tu salvaje cabellera, creados con telas recicladas. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim earum quis
                        distinctio, aliquid expedita perferendis!</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" data-featherlight="#galeria1">
                <img class="img-fluid" src="{% static 'img/productos/scrunchie5.jpg' %}" alt="">
            </a>
            <div style="display: none;">
                <div id="galeria1">
                    <img class="img-fluid" src="{% static 'img/productos/scrunchie5.jpg' %}" alt="">
                    <p style="text-align: center;">Hermosos scrunchies para adornar tu salvaje cabellera, creados con telas recicladas. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim earum quis
                        distinctio, aliquid expedita perferendis!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-2">
            <a href="#" data-featherlight="#galeria1">
                <img class="img-fluid" src="{% static 'img/productos/scrunchie6.jpg' %}" alt="">
            </a>
            <div style="display: none;">
                <div id="galeria1">
                    <img class="img-fluid" src="{% static 'img/productos/scrunchie6.jpg' %}" alt="">
                    <p style="text-align: center;">Hermosos scrunchies para adornar tu salvaje cabellera, creados con telas recicladas. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim earum quis
                        distinctio, aliquid expedita perferendis!</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" data-featherlight="#galeria1">
                <img class="img-fluid" src="{% static 'img/productos/scrunchie7.jpg' %}" alt="">
            </a>
            <div style="display: none;">
                <div id="galeria1">
                    <img class="img-fluid" src="{% static 'img/productos/scrunchie7.jpg' %}" alt="">
                    <p style="text-align: center;">Hermosos scrunchies para adornar tu salvaje cabellera, creados con telas recicladas. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim earum quis
                        distinctio, aliquid expedita perferendis!</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" data-featherlight="#galeria1">
                <img class="img-fluid" src="{% static 'img/productos/scrunchie8.jpg' %}" alt="">
            </a>
            <div style="display: none;">
                <div id="galeria1">
                    <img class="img-fluid" src="{% static 'img/productos/scrunchie8.jpg' %}" alt="">
                    <p style="text-align: center;">Hermosos scrunchies para adornar tu salvaje cabellera, creados con telas recicladas. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim earum quis
                        distinctio, aliquid expedita perferendis!</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" data-featherlight="#galeria1">
                <img class="img-fluid" src="{% static 'img/productos/scrunchie9.jpg' %}" alt="">
            </a>
            <div style="display: none;">
                <div id="galeria1">
                    <img class="img-fluid" src="{% static 'img/productos/scrunchie9.jpg' %}" alt="">
                    <p style="text-align: center;">Hermosos scrunchies para adornar tu salvaje cabellera, creados con telas recicladas. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim earum quis
                        distinctio, aliquid expedita perferendis!</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" data-featherlight="#galeria1">
                <img class="img-fluid" src="{% static 'img/productos/scrunchie10.jpg' %}" alt="">
            </a>
            <div style="display: none;">
                <div id="galeria1">
                    <img class="img-fluid" src="{% static 'img/productos/scrunchie10.jpg' %}" alt="">
                    <p style="text-align: center;">Hermosos scrunchies para adornar tu salvaje cabellera, creados con telas recicladas. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim earum quis
                        distinctio, aliquid expedita perferendis!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="espaciador"></div>
{% endblock contenido %}