{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div class="espaciador"></div>

<section class="container-fluid align-items-center">
    <div class="row align-items-center">
        <div class="col-md-1"></div>
        <div class="col-md-6" style="background-color: rgba(0, 0, 0, 0.4); padding-bottom: 15px;">
            <p class="fw-bold fs-3 text-muted">Te contamos sobre nosotros y nuestra historia</p>
            <p class="text-justify text-white parrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempore similique praesentium
                quisquam? Esse saepe ullam quibusdam similique assumenda architecto nesciunt dignissimos
                explicabo facere quisquam, fugiat rerum perspiciatis optio nobis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus fugiat iusto, nostrum
                animi doloribus delectus a officiis tenetur culpa modi consequatur itaque ullam asperiores quod
                alias reprehenderit ex? Non.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus atque tempore doloremque
                assumenda aliquid? Quam hic at, voluptate quae amet est officia velit ratione quas, laborum
                dignissimos voluptatibus modi inventore.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo facilis tempora asperiores? Dicta
                hic veniam corrupti odit voluptatem tempore harum incidunt, eveniet delectus nemo accusantium at
                tempora itaque nihil quaerat.
            </p>
        </div>
        <div class="col-md-4">
            <div class="container-fluid">
                <img src="{% static 'img/nosotros/img-rosa.jpg' %}" alt="Rosa" class="img-fluid">
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="espaciador"></div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 text-white" style="background-color: rgba(0, 0, 0, 0.4); padding: 15px">

            <p class="fs-3 fw-bold">Misión</p>
            <p class="parrafo">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit et asperiores blanditiis incidunt
                animi saepe corrupti, similique eos quae ea adipisci praesentium neque minima? Rerum corrupti
                harum recusandae cumque ullam.
                Voluptatem beatae, odit corporis optio illo fugit earum quas eum deserunt aperiam dolores omnis
                iure cum vitae placeat sint, dolor a saepe dolorem totam voluptates doloribus obcaecati
                doloremque porro. Obcaecati?
                Facere nihil ab nemo a itaque repellat quia veritatis amet praesentium facilis. Blanditiis
                aliquid eaque, dolor magnam quod quos iure excepturi, in non, omnis est nesciunt ratione
                quisquam ea assumenda!
            </p>
        </div>
        <div class="col-md-5 text-white" style="background-color: rgba(0, 0, 0, 0.4); padding: 15px">
            <p class="fs-3 fw-bold">Visión</p>
            <p class="parrafo">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab rem iusto minima reprehenderit sunt
                ratione porro eius repudiandae et libero animi labore velit sequi, expedita numquam voluptate
                amet ipsa nihil!
                Vitae ut soluta adipisci quibusdam! Sunt quisquam esse, facilis sint adipisci eaque! Perferendis
                porro provident quisquam nulla culpa assumenda deserunt nemo? Itaque voluptatibus rem aliquam
                aut praesentium, cum est corrupti?
                Modi, tenetur! Iste assumenda voluptatum ad tenetur, doloribus voluptas deserunt quam ipsam.
                Fuga perferendis labore excepturi magnam eos qui? Perferendis voluptatibus enim asperiores
                obcaecati quas ad voluptatem in repellat cumque?
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="espaciador"></div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="{% static 'img/productos/tiendita.JPG' %}" alt="vendiendo en una feria de emprendedores"
                class="img-fluid rounded">
        </div>
    </div>

</section>

<div class="espaciador"></div>
{% endblock contenido %}
