{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div class="espaciador"></div>

<section class="container-fluid align-items-center">

    <div class="row align-items-center">

        <div class="col-md-3">
            <img src="{% static 'img/productos/Scrunchie1.png' %}" alt="scrunchies grandes blancos" class="img-fluid rounded">
        </div>
        <div class="col-md-5 text-white" style="background-color: rgba(0,0,0,0.4); padding: 15px;">
            <p class="fw-bold">Scrunchies blancos con cola</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, fugiat? Dignissimos impedit
                dicta id, non maiores beatae similique rem nihil minus eius unde ipsa fugiat voluptates libero.
                Dolor, doloremque eum.</p>
            <p class="text-end">$9999.-</p>
        </div>

        <div class="col-md-1"></div>

    </div>
    <div class="espaciador"></div>
    <div class="row align-items-center">

        <div class="col-md-1"></div>
        <div class="col-md-5 text-white" style="background-color: rgba(0,0,0,0.4); padding: 15px;">
            <p class="fw-bold">Estuche</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, fugiat? Dignissimos impedit
                dicta id, non maiores beatae similique rem nihil minus eius unde ipsa fugiat voluptates libero.
                Dolor, doloremque eum.</p>
            <p class="text-end">$9999.-</p>
        </div>
        <div class="col-md-3">
            <img src="{% static 'img/productos/estuche1.JPG' %}" alt="estuche de tela" class="img-fluid rounded">
        </div>
    </div>

    <div class="col-md-1"></div>

    </div>
    <div class="espaciador"></div>
    <div class="row align-items-center">

        <div class="col-md-1"></div>

        <div class="col-md-5">
            <img src="{% static 'img/productos/bolsita.JPG' %}" alt="bolsa ecológica" class="img-fluid rounded">
        </div>
        <div class="col-md-5 text-white" style="background-color: rgba(0,0,0,0.4); padding: 15px;">
            <p class="fw-bold">Bolsa ecológica</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, fugiat? Dignissimos impedit
                dicta id, non maiores beatae similique rem nihil minus eius unde ipsa fugiat voluptates libero.
                Dolor, doloremque eum.</p>
            <p class="text-end">$9999.-</p>
        </div>

        <div class="col-md-1"></div>

    </div>

</section>

<div class="espaciador"></div>
{% endblock contenido %}
