{% extends 'base.html' %}
{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>src="{% static 'js/galeria.js' %}"</script>
{% endblock%}

{% block css%}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/galeria.css' %}">


{% endblock%}

{% block contenido %}

<div class="espaciador"></div>
<h1 class="titulo"> SCRUNCHIES </h1>
<hr>

<div class="galeria">
    
    
    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie1.png' %}" data-caption="Scrunchie palido con cinta">
        
        <img src="{% static 'img/productos/scrunchie1.png' %}" alt="" >
        
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie2.jpg' %}" data-caption="scrunchie XL">
        <img src="{% static 'img/productos/scrunchie2.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie3.jpg' %}" data-caption="Kit scrunchies ">
        <img src="{% static 'img/productos/scrunchie3.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie4.JPG' %}" data-caption="Duo XL scrunchie">
        <img src="{% static 'img/productos/scrunchie4.JPG' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie5.JPG' %}" data-caption="Tripack scrunchies XL">
        <img src="{% static 'img/productos/scrunchie5.JPG' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie6.JPG' %}" data-caption="Scrunchies 5 colores">
        <img src="{% static 'img/productos/scrunchie6.JPG' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie7.JPG' %}" data-caption="Scrunchies aflorados">
        <img src="{% static 'img/productos/scrunchie7.JPG' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie8.jpg' %}" data-caption="Scrunchies rojos">
        <img src="{% static 'img/productos/scrunchie8.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie9.jpg' %}" data-caption="Scrunchies blancos">
        <img src="{% static 'img/productos/scrunchie9.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie10.jpg' %}" data-caption="Scrunchie beige">
        <img src="{% static 'img/productos/scrunchie10.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie11.jpg' %}" data-caption="Scrunchies 5 colores">
        <img src="{% static 'img/productos/scrunchie11.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie12.jpg' %}" data-caption="Scrunchie rosados">
        <img src="{% static 'img/productos/scrunchie12.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie13.jpg' %}" data-caption="Scrunchies cuadrille blanco y negro">
        <img src="{% static 'img/productos/scrunchie13.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie14.jpg' %}" data-caption="Scrunchies con diseños">
        <img src="{% static 'img/productos/scrunchie14.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie21.jpg' %}" data-caption="Kit Scrunchies con cinta">
        <img src="{% static 'img/productos/scrunchie21.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie22.jpeg' %}" data-caption="Scrunchies morados">
        <img src="{% static 'img/productos/scrunchie22.jpeg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie17.jpg' %}" data-caption="Scrunchies palidos ">
        <img src="{% static 'img/productos/scrunchie17.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie18.jpg' %}" data-caption="Scrunchie celeste">
        <img src="{% static 'img/productos/scrunchie18.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie19.jpg' %}" data-caption="Scrunchie morados">
        <img src="{% static 'img/productos/scrunchie19.jpg' %}">
    </a>

    <a data-fancybox="gallery" href="{% static 'img/productos/scrunchie20.jpg' %}" data-caption="Scrunchies textil">
        <img src="{% static 'img/productos/scrunchie20.jpg' %}">
    </a>
    
</div>
{% endblock contenido %}